.Box {
  background-color: var(--dark);
  width: 12rem;
  height: 10rem;
  margin: 1rem;
  border: 1px solid var(--whiteYellow);
  box-shadow: 0 0 0.9rem 0.01rem var(--dark);
  transition: all 0.5s;
}
.Box:hover {
  cursor: pointer;
  transform: scale(1.1);
}
