.SearchBar {
  background-color: var(--white);
  display: flex;
  width: 20%;
  height: 3rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: white;
  border-radius: 1rem;
}
.SearchBar input {
  height: 2rem;
  position: relative;
  border: none;
  width: 75%;
}
.SearchBar .lupa {
  width: 1.5rem;
  height: 1.5rem;

  background-image: url("../../assets/lupa.png");
  background-size: cover;
  cursor: pointer;
}
.SugBox {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 7rem;
  border: 1px solid black;
}

.SugBox a {
  display: block;
  background-color: rgb(240, 248, 238);
  padding: 0.2rem;
  width: 13.5rem;
  text-decoration: none;
  color: black;
}
.SugBox a:hover {
  background-color: khaki;
}
