.Header {
  background-color: var(--white);
}
.Header .header-inside {
  max-width: 80rem;
  height: 8rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.Header .header-inside .logo {
  align-self: flex-start;
  width: 20rem;
  height: 4rem;
  background-image: url("../../assets/logobook.png");
  background-size: cover;
  background-position: 0;
}
.Header .header-inside ul {
  display: flex;
  list-style: none;
  align-self: flex-start;
}
.Header .header-inside ul li {
  margin: 0.5rem;
  transition: all 0.3s;
  font-size: 0.7rem;
}
.Header .header-inside ul li:hover {
  color: var(--green);
  cursor: pointer;
  transform: scale(1.1);
}
