.SideMenu {
  position: fixed;
  top: calc(50% - 7.5rem);
  width: 7rem;
  height: 12rem;
  left: -7rem;
  transition: left 0.5s;
}
.SideMenu::after {
  content: "";
  background-color: black;
  height: 6rem;
  width: 10px;
  position: absolute;
  top: 3rem;
  left: 7rem;
}
.SideMenu:hover {
  left: 0;
}

.SideMenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  border: 1px solid black;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.SideMenu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--whiteYellow);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-top: 1px solid var(--white);
}
.SideMenu ul li:first-child {
  border-top: none;
}
.SideMenu ul li:hover {
  background-color: var(--white);
  color: var(--dark);
  cursor: pointer;
}
