.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.Header {
  background-color: var(--white);
}
.Header .header-container {
  max-width: 80rem;
  height: 4rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.Header .header-container .logo {
  width: 18rem;
  height: 12rem;
  background-image: url("../assets/logobook.png");
  background-size: cover;
  background-position: 0;
}
.Header .header-container ul {
  display: flex;
  list-style: none;
  align-self: flex-start;
}
.Header .header-container ul li {
  margin: 0.5rem;
  transition: all 0.3s;
  font-size: 0.7rem;
}
.Header .header-container ul li:hover {
  color: var(--green);
  cursor: pointer;
  transform: scale(1.1);
}

.TopNavBar {
  width: 100%;
  background-color: var(--dark);
  border-top: 5px solid var(--green);
  border-bottom: 5px solid var(--green);
  color: azure;
}

.TopNavBar ul {
  display: flex;
  margin: 0 auto;
  list-style: none;
  justify-content: space-around;
  max-width: 80rem;
}
.TopNavBar ul li {
  padding: 0.8rem 0.5rem;
  color: var(--yellow);
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}
.TopNavBar ul li:hover {
  color: var(--dark);
  cursor: pointer;
  background-color: var(--yellow);
}

.SearchBox {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--dark);
}
.SearchBox input {
  height: 3rem;
}

.Events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: var(--whiteYellow);
  font-size: 48px;
  border: 1px solid black;
  text-align: center;
}
.mainContent {
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
  width: 70%;
  min-height: 20rem;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  background-color: var(--dark);
  width: 12rem;
  height: 10rem;
  margin: 1rem;
  border: 1px solid var(--whiteYellow);
  box-shadow: 0 0 0.9rem 0.01rem var(--dark);
  transition: all 0.5s;
}
.box:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.SideMenu {
  position: fixed;
  top: calc(50% - 7.5rem);
  width: 7rem;
  height: 12rem;
  left: -7rem;
  transition: left 0.5s;
}
.SideMenu::after {
  content: "";
  background-color: black;
  height: 6rem;
  width: 10px;
  position: absolute;
  top: 3rem;
  left: 7rem;
}
.SideMenu:hover {
  left: 0;
}

.SideMenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  border: 1px solid black;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.SideMenu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--whiteYellow);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-top: 1px solid var(--white);
}
.SideMenu ul li:first-child {
  border-top: none;
}
.SideMenu ul li:hover {
  background-color: var(--white);
  color: var(--dark);
  cursor: pointer;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: rgb(24, 24, 24);
  color: var(--white);
  border-top: 2px solid var(--green);
}
